/* CSS for Special:CreateBlogPost */
.create-title {
	color: #333;
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 5px;
}

/* Copyright stuff below the form, right above the submit button */
.copyright-warning {
	color: #333;
	font-size: 11px;
	margin: 0 0 10px;
	width: 700px;
	max-width: 100%;
}
